version: 2
updates:
  - package-ecosystem: "npm"
    versioning-strategy: lockfile-only
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["dependencies"]
    ignore:
      - dependency-name: "@types/*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]
      - dependency-name: "@typescript-eslint/*"
        update-types: ["version-update:semver-minor", "version-update:semver-patch"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    labels: ["dependencies"]
