bin/
out/
node_modules/
syntaxes/
*.vsix
.DS_Store
.vscode-test
npm-debug.log
lsp/
testFixture/.terraform.lock.hcl
testFixture/.vscode
test/fixtures/.vscode
src/test/integration/**/.vscode
.terraform/
.vscode-test-web
.wdio-vscode-service
