# Ensure line endings are always Unix-style for known text files
# GitHub Actions CI doesn't have "native" solution for this
# See https://github.com/actions/checkout/issues/226
*.ts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.tf text eol=lf
*.txt text eol=lf
