.changes
.vscode-test
.vscode-test-web
.wdio-vscode-service
.test-storage
.test-extensions
language-configuration.json
node_modules
dist
out
package-lock.json
snippets
src/test/fixtures
src/test/integration/*/workspace/**
syntaxes
docs
*.md
