.changes
.changie.yaml
.copywrite.hcl
.editorconfig
.eslint.config.mjs
.gitattributes
.github
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc
.vscode
.vscode-test
.vscode-test-web
.vscode-test.mjs
.vscodeignore
.wdio-vscode-service
**/__mocks__
build/
DEVELOPMENT.md
docs/
node_modules/
ROADMAP.md
src/
out/
esbuild.js
tsconfig.json
