.github
.vscode
.vscode-test
build/
lsp/
src/
**/__mocks__
out/*.test.*
out/test/
testFixture/
.editorconfig
.eslintignore
.eslintrc.json
.gitattributes
.gitignore
.npmrc
.nvmrc
.prettierignore
.prettierrc
.vscodeignore
DEVELOPMENT.md
ROADMAP.md
tsconfig.json
