name: Run tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      -
        name: Read Node.js version (Unix)
        id: nodejs-version
        run: |
          content=`cat ./.nvmrc`
          echo "::set-output name=content::$content"
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          # See https://github.com/actions/setup-node/issues/32
          node-version: ${{ steps.nodejs-version.outputs.content }}
      - name: npm install
        run: npm install
      - name: lint
        run: npm run lint

  unit:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      -
        name: Read Node.js version (Unix)
        if: ${{ runner.os != 'Windows' }}
        id: nodejs-version-unix
        run: |
          content=`cat ./.nvmrc`
          echo "::set-output name=content::$content"
      -
        name: Read Node.js version (Windows)
        if: ${{ runner.os == 'Windows' }}
        id: nodejs-version-win
        run: |
          $content = Get-Content .\.nvmrc -Raw
          echo "::set-output name=content::$content"
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          # See https://github.com/actions/setup-node/issues/32
          node-version: ${{ steps.nodejs-version-unix.outputs.content || steps.nodejs-version-win.outputs.content }}
      - name: npm install
        run: npm ci
      - name: unit test
        run: npm run test:unit

  test:
    strategy:
      matrix:
        os:
          - windows-latest
          - macos-latest
          - macos-11.0
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      -
        name: Read Node.js version (Unix)
        if: ${{ runner.os != 'Windows' }}
        id: nodejs-version-unix
        run: |
          content=`cat ./.nvmrc`
          echo "::set-output name=content::$content"
      -
        name: Read Node.js version (Windows)
        if: ${{ runner.os == 'Windows' }}
        id: nodejs-version-win
        run: |
          $content = Get-Content .\.nvmrc -Raw
          echo "::set-output name=content::$content"
      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          # See https://github.com/actions/setup-node/issues/32
          node-version: ${{ steps.nodejs-version-unix.outputs.content || steps.nodejs-version-win.outputs.content }}
      - name: Set up Xvfb (Ubuntu)
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"
        if: matrix.os == 'ubuntu-latest'
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_wrapper: false
          terraform_version: "~1.0"
      - name: Clean Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
        env:
          CI: true
          DISPLAY: ':99.0'
