name: Run tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'syntaxes/**'
      - 'tests/**'
      - '**.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'syntaxes/**'
      - 'tests/**'
      - '**.md'

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: npm install
        run: npm install
      - name: lint
        run: npm run lint
      - name: format
        run: npm run check-format

  unit:
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-2019 # temporary pin to avoid timeouts on windows-2022
          - macos-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: npm install
        run: npm ci
      - name: unit test
        run: npm run test:unit
      - name: web unit
        run: npm run test:unit:web

  test:
    strategy:
      fail-fast: false
      matrix:
        vscode:
          - '1.65.2'
          - 'insiders'
          - 'stable'
        os:
          - windows-2019 # temporary pin to avoid timeouts on windows-2022
          - macos-latest
          - macos-11.0
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      - name: Set up Xvfb (Ubuntu)
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"
        if: matrix.os == 'ubuntu-latest'
      - name: Install Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false
          terraform_version: '~1.1'
      - name: Terraform version
        run: terraform version
      - name: Clean Install Dependencies
        run: npm ci
      - name: Run Tests
        run: npm test
        env:
          CI: true
          DISPLAY: ':99.0'
          VSCODE_VERSION: ${{ matrix.vscode }}
